.errorPage{
    /* background-color: red; */
    height: 100vh;
}
.errorInfo {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.BotaoDeVoltarParaPrincipal{
    margin-top: 15px;
}