@media only screen and (max-width: 576px){

    .containerTrajetoria{
        height: auto !important;
        flex-direction: column;
    }
    /* .trajetoria{
        display: flex;
        justify-content: center !important;
        flex-direction: column !important;
    } */
    .mobile-Trajetoria{
        flex-direction: column;
        margin-top: 5px;
    }
    .empresa, .tempoDeEmpresa, .cagoExercido{
        margin-top: 10px !important;
    }
}


.trajetoria{
    /* background-color: red !important; */
    height: auto;
}
.logoTrajetoria img{
    width: auto;
    height: 65px;
    padding: 1px;
}
.logoTrajetoria{
    border: solid 2px #48bfe3;
    width: 90px;
    height: 90px;
    border-radius: 90%;
 
}
.containerTrajetoria{
    /* background-color: gold; */
    height: 110px;
    padding: 5px;
    border: solid 2px #48bfe3;
    margin: 0;
    border-radius: 50px;
}
.empresa, .tempoDeEmpresa, .cagoExercido{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.arrow{
    /* background-color: green; */
    height: 100px;
}

.arrowIcon{
    height: 50px;
    width: 50px;
    color: #48bfe3;
}
