@media only screen and (max-width: 576px){

    
}

.ProjetoCard{
  background-color: gold;
  height: auto;
  width: 100%;
}

.cardProjeto{
  background-color: green;
  height: 500px;
  width: 100%;
  border: 2px solid black;
}
.CardFinal{
  background-color: blue;
  width: 400px;
  border: solid 3px gold;
}